#newPost {
    width: 50%;
    margin: auto;
    margin-top: 8rem;
}

#postTextArea {
    width: 70%;
}

@media (max-width: 768px) {
    /* Pour mobile: */
    #newPost {
        width: 90%;
        margin-top: 1rem;
    }
    #postTextArea {
        width: 100%;
    }
}